@charset "UTF-8";

/* Header */
header {
    background-color: #f2f2f2;
    padding: 10px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header nav ul li a:hover {
    color: #000;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

/* 좌측 사이드바 스타일 */
/* 컨테이너 스타일 */
.container {
    display: flex;
}

/* 사이드바 스타일 */
.sidebar {
    
    background-color: #f4f4f4;
    padding: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.menu li a:hover {
    color: #000;
}

/* 콘텐츠 영역 스타일 */
.content {
    flex: 1;
    padding: 20px;
}
 